.containnerPrincipal{
    padding: 20px;
    background-color:rgb(5, 181, 251);
    width: 15vw;
    border-radius: 5px;
    box-shadow: 5px 5px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.containnerTitle{
    padding: 5px;
    font-size: 20px;
}
.containnerButton{
    display: flex;
    align-items: center;
}
button {
    font-size: 20px;
    padding: 5px;
    background-color: black;
    border-radius: 5px;
    color: rgb(5, 181, 251);
    border: 2px solid;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover{
    transform: scale(1.1);
    
}